@import '../../assets/scss/shared';

.primaryContainer {
  margin-top: $header-height;
  & input:focus{
    outline: 1px solid blue!important;
  }
  width:330px
}

.darkContainer {
  // h1,h2,h3,h4,h5,p {
  //   color: rgb(0, 112, 173) !important;
  // }
  Button{
    color:#0070ad !important;
  }
  .headerStyle{
    color:#0070ad !important;
  }
  .heading {
    color: #0070ad !important;
  }

}

.heroImage {
  // background-image: url('../../assets/img/aflac-enroll.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImageOverlay {
  padding: 15px;
  background: transparentize($color-primary,0);
  box-shadow: 0 5px 15px 0 $color-primary;
  border-radius: 6px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 0%;
}
.banner{

  padding-right: 35%;
  padding-bottom: 30%;
  max-width: 400px;
}

.heroSubText{
  font-size: medium;
  color: $color-white;
  padding: 0px 0px 0px 45px;
  width: 330px;
}


@media (max-width: $breakpoint-medium) {
  .textSection {
    font-size: $font-size-largest !important;
  }
  .heroImage {
    // background-image: url('../../assets/img/aflac_login_banner.jpg');
   
    height: 125vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $breakpoint-smaller) {
  .heroSubText {
    font-size: $font-size-medium !important;
    font-weight: $font-weight-light !important;
  }

  .textSection {
    font-size: $font-size-large !important;
    font-weight: $font-weight-light !important;
  }

  .heroImageOverlay {
    padding: 15px;
    background: transparentize($color-primary,0);
    box-shadow: 0 5px 15px 0 $color-primary;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) and (max-width: $breakpoint-large) {
  .heroSubText {
    font-size: $font-size-small !important;
    font-weight: $font-weight-light !important;
  }

  .textSection {
    font-size: $font-size-medium !important;
    font-weight: $font-weight-light !important;
  }

  .heroImageOverlay {
    padding: 15px;
    background: transparentize($color-primary,0);
    box-shadow: 0 5px 15px 0 $color-primary;
    border-radius: 6px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.heroText {
  color: $color-white;
  font-size: $font-size-hero;
  font-weight: $font-weight-light;
}

.overlayTextContent {
  color: $color-white;
}

.link {
  font-weight: $font-weight-bold;
}

.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  width: 250px;
}

.signInContent{
    padding: 15px;
    border-radius: 6px;
    width: 600px;
    color: $color-white;
    align-self: baseline;
    margin-top: 10%;
    background-color:#11111152;
    & h2{
      font-size: $font-size-hero-l;
      font-weight: $font-weight-normal;
      margin-bottom: $padding-small;
    }
    & p{
      font-size: $font-size-medium;
    }
}

@media only screen and (min-width:$breakpoint-xsmaller) and (max-width:$breakpoint-medium-large){
  .heroImage{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signInContent{
    align-self: center;
    margin-top: 0;
  }
  .heroImageOverlay{
    margin-right: 0;
  }
}

@media only screen and (min-width:$breakpoint-xsmaller) and (max-width:$breakpoint-small){
  .signInContent{
    width: fit-content;
  }
  .heroImage{
    background: none;
  }
}
