@import '../../assets/scss/shared.scss';

.passwordVisibilityIconContainer {
  right: 0;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  vertical-align: bottom;
  box-shadow: none;
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }
}

.passwordVisibilityIcon {
  width: 27px;
  height: auto;
}

.passwordContainer {
  display: flex;
  flex-direction: row;
}
